
        <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-target="#navigation-example-2" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" routerlinkactive="active"
                        href="#/dashboard">One API Dashboard
                        </a></div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a routerlinkactive="active" href="#/dashboard"><i aria-hidden="true"
                                    class="fa fa-tachometer"></i>
                                <p>Dashboard</p>
                            </a></li>
                        <li><a routerlinkactive="active" href="#/pages/login" class="active"><i aria-hidden="true"
                                    class="fa fa-sign-in"></i>
                                <p>Login</p>
                            </a></li>
                        <li><a routerlinkactive="active" href="#/pages/register"><i aria-hidden="true"
                                    class="fa fa-user-plus"></i>
                                <p>Register</p>
                            </a></li>
                        <li><a routerlinkactive="active" href="#/pages/lock"><i aria-hidden="true"
                                    class="fa fa-lock"></i>
                                <p>Lock Screen</p>
                            </a></li>
                    </ul>
                </div>
            </div>
        </nav>