.wrapper.wrapper-full-page {
    height: auto;
    min-height: 100vh;
}
.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
}
.wrapper, body {
    min-height: 100vh;
    position: relative;
}
div {
    display: block;
}

.wrapper:after {
    display: table;
    clear: both;
    content: " ";
}

.full-page:before {
    opacity: .33;
    background: #000;
}

.full-page:after, .full-page:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.full-page[data-color=red]:after {
    background: #fb404b;
    background: linear-gradient(to bottom,#fb404b 0,rgba(187,5,2,.6) 100%);
    background-size: 150% 150%;
}

.full-page.has-image:after, .full-page[data-image]:after {
    opacity: .9;
}

.full-page:after {
    background: #787878;
    background: linear-gradient(to bottom,#787878 0,rgba(52,52,52,.4) 100%);
    background-size: 150% 150%;
    z-index: 3;
    opacity: 1;
}

.full-page:after, .full-page:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.content {
    padding-top: 22vh;
}

.full-page>.content {
    min-height: calc(100vh - 70px);
}

.full-page>.content, .full-page>.footer {
    position: relative;
    z-index: 4;
}

.card {
    box-shadow: 0 25px 30px -13px rgb(40 40 40 / 40%);
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.animation-transition-general, .login-page .card {
    transition: .3s linear;
}

.card {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%), 0 0 0 1px rgb(63 63 68 / 10%);
    background-color: #fff;
    margin-bottom: 30px;
}

.full-page .footer, .full-page .footer .copyright a, .full-page .footer nav>ul a:not(.btn) {
    color: #fff;
    font-size: 14px;
}

.full-page>.content, .full-page>.footer {
    position: relative;
    z-index: 4;
}

.footer-transparent {
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    background-color: transparent;
}

.footer-black, .footer-transparent {
    background-color: rgba(30,30,30,.97);
    color: #ddd;
}

.footer {
    background-color: #fff;
    line-height: 20px;
}

.btn-inline {
    display: inline-block;
    margin: 0 5px;
    text-align: center !important;
}

.footer-transparent .container {
    z-index: 2;
    position: relative;
}

.full-page .footer .copyright {
    color: rgba(255,255,255,.5);
}

.footer .copyright {
    color: #797979;
    padding: 10px 15px;
    margin: 10px 3px;
    line-height: 31px;
    font-size: 14px;
}
p {
    font-size: 16px;
    line-height: 1.5;
}

.footer-black, .footer-transparent {
    background-color: transparent;
    color: #ddd;
}

.full-page .full-page-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 992px)
{body {
    position: relative;
}}

@media (max-width: 992px)
{.wrapper.wrapper-full-page {
    height: auto;
}}
@media (max-width: 992px)
{.wrapper {
    background-color: #fff;
}}

@media (max-width: 992px)
{.main-panel, .wrapper-full-page {
    transition: .33s cubic-bezier(.685,.0473,.346,1);
    left: 0;
    width: 100%;
}}
