<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-sm-10 col-12">
                                <h4 class="title">Projects ({{count}}) </h4>
                            </div>
                            <div class="col-sm-2 col-12">
                                <button type="button" (click)="createProject()">Create Project</button>
                            </div>
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Description</th>
                                    <th>Created Date</th>
                                    <th>Active</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of projectsData">
                                    <td>{{item.name}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.createdDate}}</td>
                                    <td *ngIf="item.isActive == 1"><img src="./assets/img/green-active.png"
                                            style="width:30px"></td>
                                    <td *ngIf="item.isActive == 2"><img src="./assets/img/red-inactive.gif"
                                            style="width:25px"></td>
                                    <td>
                                        <a href='#' class="ct-icon">
                                            <i class="glyphicon glyphicon-edit ct-icon" style="color: grey"></i>
                                        </a>
                                        <a href='#' class="ct-icon">
                                            <i class="glyphicon glyphicon-trash ct-icon" style="color: grey;"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>