<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">User Projects  ({{count}}) </h4>
                        <button type="button" (click)="createProject()">Create Project</button>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Description</th>
                                    <th>CreatedDate</th>
                                    <th>Active</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of projectsData">
                                    <td>{{item.name}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.createdDate}}</td>
                                    <td>{{item.isActive}}</td>
                                    <td>
                                        <button type="button">Edit</button>
                                        <button type="button">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>