<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="red" data-image="./assets/img/red.jpg">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <div class="card-body">
                            <form [formGroup]="projectform" (ngSubmit)="onSubmit()">
                                <div>
                                    <label for="name">
                                        Name
                                    </label>
                                    <input id="name" type="text" formControlName="name">
                                </div>
                                <div>
                                    <label for="description">
                                        Description
                                    </label>
                                    <input id="description" type="text" formControlName="description">
                                </div>
                                <hr class="my-4" />
                                <button type="submit" class="btn btn-primary btn">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-page-background" style="background-image: url(./assets/img/red.jpg) "></div>
    </div>
</div>