<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="red" data-image="./assets/img/red.jpg">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form action="#" method="#" novalidate="" class="ng-untouched ng-pristine ng-valid">
                            <div class="card">
                                <div class="header text-center">Create Project</div>
                                <div class="content">
                                    <div class="form-group">
                                        <label for="Name">Name</label>
                                        <input type="text" class="form-control" placeholder="Enter Project Name here" />
                                        <label for="Description">Description</label>
                                        <textarea name="comment" class="form-control"
                                            placeholder="Enter Project Description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-fill btn-danger btn-wd btn-inline" type="button"
                                            >Create</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-page-background" style="background-image: url(./assets/img/red.jpg) "></div>
    </div>
</div>